.profile {
  padding: 20px;
  border: 1px solid;
  margin-top: 30px;
}
#file {
  input[type=file] {
    display: none;
  }
  span {
    text-decoration: underline;
  }

}
.margin-bottom {
  margin-bottom: 40px;
}